@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Header style */
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
  }
  .header h2 {
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    line-height: 33px;
    margin-left: 150px;
  }
  .header .btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 17px 24px 17px 24px;
    margin-right: 150px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
  }
  /* Styling hero section */
.hero {
    background: url("../assets/Hero-bg.png") no-repeat center center / cover;
    height: 650px;
    margin-top: 50px;
  }
  .hero-content .hero-img {
    margin-top: 28px;
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero-content > h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    word-spacing: 5px;
  }
  .hero-content .hero-describtion {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.06;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }
  .hero-content .hero-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 19px 22px 19px 22px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
    margin-top: 30px;
  }
  /* style why web development section */
#about-development {
    background: rgb(250, 250, 251);
    width: 1550px;
    height: 1393px;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 16px;
    padding: 80px 97px 80px 97px;
  }
  .development-content > h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    margin-bottom: 24px;
  }
  .development-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 1000px;
    opacity: 0.7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .sub-title1 {
    border-radius: 16px;
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 100%
    );
    width: 1083px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 33px 48px 48px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  .sub-title2 {
    border-radius: 16px;
    background: linear-gradient(
      270deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 100%
    );
    width: 1083px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 48px 48px 35px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  .subtitle-content > h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin: 8px 0px;
  }
  .subtitle-content > p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 16px 0px;
    width: 500px;
    opacity: 0.7;
  }
  .div-btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin-top: 16px;
    padding: 12px 20px 12px 20px;
  }
  .sub-title3 {
    border-radius: 16px;
    background: linear-gradient(
      90deg,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 100%
    );
    width: 1083px;
    height: 336px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 33px 48px 48px;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  /* styling My Inspiration */
.my-inspiration {
    margin-top: 90px;
  }
  .inspiration-content h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.5px;
  }
  .inspiration-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    width: 852px;
    margin: 24px auto 48px auto;
  }
  .inspiration-banner {
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-align: center;
  }
  .inspiration-banner > iframe {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
  }
  /* Styling My Current target */
.curren-target {
    width: 1550px;
    margin: 150px auto 111px auto;
  }
  .target-content h2 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
  }
  .target-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.07px;
    text-align: center;
    width: 800px;
    margin: 24px auto 48px auto;
    opacity: 0.7;
  }
  .language-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
  }
  .language-section .language1-name {
    height: 400px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
  }
  .language-section .language2-name {
    height: 400px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
  }
  .language-section .language3-name {
    height: 400px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
  }
  .language-section .title {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px;
  }
  .language-section .subl-title {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    margin: 8px 0px;
  }
  .language-section a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
  }