@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* Header style */
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;
  }
  .header h2 {
    color: rgb(13, 19, 33);
    font-size: 35px;
    font-weight: 800;
    line-height: 33px;
    margin-left: 150px;
  }
  .header .btn {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    padding: 17px 24px 17px 24px;
    margin-right: 150px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
  }
  /* Styling hero section */
.hero {
    background: url("../assets/Hero-bg.png") no-repeat center center / cover;
    height: 650px;
    margin-top: 50px;
  }
  .hero-content .hero-img {
    margin-top: 28px;
  }
  .hero .hero-content {
    text-align: center;
  }
  .hero-content > h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;
    word-spacing: 5px;
  }
  .hero-content .hero-describtion {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.06;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
  }
  .hero-content .hero-btn {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 19px 22px 19px 22px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
    margin-top: 30px;
  }